<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Employee Management System</title>
</head>
		<body>
				<h1>Employee Management System</h1> <br><br> <br>
				
				<a href="/openAddPlayerPage">Add Player</a>				<br> <br>
				<a href="/openDeletePlayerPage">Delete Player</a>		<br> <br>
				<a href="/openFetchPlayerPage">Fetch Player</a>			<br> <br>
				<a href="/openupdatePlayerPage">Update Player</a>		<br> <br>
						
				<a href="/fetchAll">Fetch All Player</a>				<br> <br>
				<a href="/deleteAll">Delete All Player</a>				<br> <br>
				

		</body>
</html>